
@color: #34547A;
@grey: #727272;

.transition(@prop: all, @timing: 0.2s, @effect: linear){
	-webkit-transition: @arguments;
	   -moz-transition: @arguments;
	    -ms-transition: @arguments;
	     -o-transition: @arguments;
	        transition: @arguments;
}
.transform-translate(@value1, @value2){ 
	-webkit-transform: translate(@value1, @value2);
	   -moz-transform: translate(@value1, @value2);
	    -ms-transform: translate(@value1, @value2);
	     -o-transform: translate(@value1, @value2);
	        transform: translate(@value1, @value2);
}
.j-content(@value){
	-webkit-justify-content: @value;
	        justify-content: @value;
}
.a-items(@value){
	-webkit-align-items: @value;
	        align-items: @value;
}
.a-self(@value){
	-webkit-align-self: @value; 
	        align-self: @value; 
}
.f-basis(@value){
	-webkit-flex-basis: @value;
	        flex-basis: @value;
}
.f-direction(@value){
	-webkit-flex-direction: @value;
	    -ms-flex-direction: @value;
	        flex-direction: @value;
}
html, body, *{
	padding: 0;
	margin: 0; 
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: Roboto;
} 
body{
	-ms-overflow-x: hidden;
	    overflow-x: hidden;
} 
:root{
	font-size: 16px;
} 
a{
	text-decoration: none;
	color: #000;
}
.burger, .burger-input{
	display: none;
}   

.input{
	border: none;
	background: #FFF;
	color: #5F5D5D;
	padding: 10px 15px;
}
.btn-block_centralized{
	margin: 0 auto; 
}
button{
	background: none;
	border: none;
}
.button{
	background: @color;
	border: 1px solid @color;
	color: #FFF;
	padding: 20px 25px;
	text-transform: uppercase;
	&:hover{
		background: none;
		color: @color;
		border: 1px solid @color;
		.transition();
	}
}
.wrapper{
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}
.title{
	font-size: 2rem;
	font-weight: bold;
	padding-bottom: 30px;
}
.title_big{
	font-size: 2.5rem;
}
.title_centralized{
	text-align: center;
}
.descr{
	font-size: 1rem;
	color: @grey;
	padding-bottom: 30px;
} 
.descr_centralized{
	width: 50%;
	text-align: center;
	margin: 0 auto;
}
.section{
	padding: 60px 0;
}
.section_blue{
	background: @color;
}
.header_grey, .section_grey{
	background: #EEEFF1;
}
.footer{
	padding: 40px 0;
}


.header{
	padding: 20px;
}
.logo img{
	width: 100%;
}
.navbar{
	display: flex;
	.j-content(space-around);
	.a-items(center);
}
.navbar-block{
	display: flex;
	&__link{
		margin: 0 0 0 20px;
		&:hover{
			color: @color;
			.transition();
		}
	}
}

.home{
	display: grid;
	grid-template-columns: 1fr 1fr;
	&__img-block{
	    display: flex; 
	    .j-content(center);
	    .a-items(center);
		img{
			width: 60%;
		}
	} 
} 
.projects{
	display: flex; 
    .j-content(space-around);
    color: #FFF;
	&__item{
		display: flex;
		img{
			width: 100%;
			margin-right: 10px;
		}
	}
}
.skills{
	display: grid;
	grid-template-columns: 1fr 1fr;
	&__my-photo{
		img{
			width: 100%;
		}
	}
}
.skill{
	padding-bottom: 10px;
	&__name{
		color: @grey;
	}
	&__progress progress{
		width: 60%;
		height: 6px;
	}
}


.my-work{
	&__video-block{
		position: relative;
	}
	&__video{
		width: 100%;
	}
	&__play-btn{
		width: 10%;
		cursor: pointer;
		position: absolute;
		top: 50%;
		left: 50%;
		.transform-translate(-45%, -45%);
		&:hover{
			opacity: 0.7;
		}
	}
}

.works{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 0;
	&__item{
		position: relative;
		height: 100%; 
		
	}
	&__img{
		width: 100%;
		height: 100%;
	}
	&__view{ 
		width: 20%;
		position: absolute;
		top: 50%;
		left: 50%;
		.transform-translate(-45%, -45%);   
	}
	&__gradient-bg{  
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));
		&:hover{
			opacity: 1;
		} 
	}
	
}


.ms-block{
	display: flex;
	.j-content(center); 
	&__img{
		width: 16%;
		margin-right: 20px;
	}
}


 
.form{
	width: 50%; 
	margin: 0 auto;
	display: grid;
	grid-template-areas: 'name email'
		'msg msg'
		'msg msg'
		'msg msg'
		'btn btn';
	grid-gap: 20px;
	&__name{
		grid-area: name;
	}
	&__email{
		grid-area: email;
	}
	&__msg{
		grid-area: msg;
	}
	&__btn{
		grid-area: btn; 
	}
}

.footer-block{
	display: flex;
	.j-content(space-between);
	.a-items(center);
	&__text{
		color: #FFF;
	}
	&__links a{
		margin-right: 15px;
		img{
			width: 20%;
		}
	}
}
.name{
	padding: 10px 0;
}



@media (min-width: 576px){
	.wrapper{
		max-width: 540px;
	}
}
@media (min-width: 768px){
	.wrapper{
		max-width: 720px;
	}
}  
@media (min-width: 992px){ 
	.wrapper{
		max-width: 960px;
	}
}
@media (min-width: 1440px){
	.wrapper{
		max-width: 1140px;
	}
}


@media (max-width: 768px){
	:root{
		font-size: 14px;
	}
	.navbar{
	    flex-wrap: wrap;
	    .j-content(space-between);
	}
	.navbar-block{
		display: none;
		.f-direction(column);
		width: 100%;
		.a-items(center);
		&__link{
			margin: 0 0 20px 0;
		}
	}
	.burger{
    	display: block;
    	margin: 5px 0;
    	&__btn{
    		display: block;
    		position: relative;
		    width: 50px;
		    height: 50px;
	    	-webkit-border-radius: 50%;
	    	        border-radius: 50%;
	    	background: #FFF;
    	}
    	&__line, 
    	&__line::after, 
    	&__line::before{
    		position: absolute;
    		top: 50%;
    		left: 50%;
    		margin: -1px 0 0 -10px; 
    		width: 20px;
    		height: 2px;
    		background: #000;  
    	}
    	&__line::before{
    		content: ""; 
    		.transform-translate(0, 6px);
    	}
    	&__line::after{
    		content: ""; 
    		.transform-translate(0, -6px);
    	}
    } 
	.burger-input:checked ~ .navbar-block{
		display: flex;
	} 
	.logo img{
		width: 70%;
	}
	.projects{   
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		&__item{  
			.a-items(center);
			.j-content(center);
		    .f-basis(33%);
		    margin-bottom: 20px;
			img{
				width: 30%; 
			}
		}
	}
}


@media (max-width: 576px){
	:root{
		font-size: 13px;
	}
	.wrapper{
		max-width: none;
		padding: 0 15px;
	}
	.descr_centralized{
	    width: 70%;
    }
    .home{
    	grid-template-columns: 1fr;
	    grid-template-rows: 1fr 1fr;
	    &__text-block{
	    	text-align: center;
	    }
    }
    .skills{
		grid-template-columns: 1fr;
		&__skill-block{
			text-align: center;
		    margin: 0 0 20px 0;
		}
    	&__my-photo{
			text-align: center;
    		.a-self(center);
			img{
				width: 80%;
			}
    	}
    } 
	.form{
		width: 100%;
	}

	.footer-block{  
		&__links a{
			margin-right: 10px;
			img{
				width: 20%;
			}
		}
	}
}